*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(191, 191, 191);
}
.menu{
    width: 80%;
    margin: auto;
    background-color: #4161BF;
}
.carrossel{
    margin: auto;
    width: 80%;
    height: 80%;
}
.produtos{
    margin: auto;
    width: 80%;
}

@media (min-width: 1000px) {
    .itens-header {
        margin-left: 37vw;
    } 
}
@media (min-width: 768px) {
    .sobre {
        height: 32em;
        width: 80%;
    }
    .cadastro {
        width: 80%;
    }
    .texto-sobre{
        float: right;
        margin-top: 10%;
        width: 50vw;
        margin-right: 1vw;
    }
}
@media (max-width: 768px) {
    .menu {
        width: 100%;
    }
    .carrossel {
        width: 100%;
    }
    .produtos{
        width: 100%;
    }
    .img-sobre{
        width: 60%;
        margin: auto;
        margin-left: 30%;
    }
    .texto-sobre{
        width: 90%;
        height: 200px;
        padding: auto;
        margin: auto 4.5vw 2vw 2vw;
        text-align: center;
    }
    .sobre{
        width: 100%;
        margin: auto;
        height: 60em;
        padding: auto;
    }
    .mapa {
        width: 100%;
    }
}

ul li {
    list-style: none;
}

.linhaComTexto {
    margin: auto;
    height: 20px;
    border-bottom: 1px solid #4161BF;
    text-align: center;
}
.linhaComTexto2 {
    margin: auto;
    height: 20px;
    border-bottom: 1px solid #4160bf00;
    text-align: center;
}
  
.linhaComTexto > span {
    font-size: 35px;
    background-color: #ffffff;
    padding: 0 10px;
    color: #4161BF;
}
.linhaComTexto2 > span {
    font-size: 35px;
    background-color: #ffffff00;
    padding: 0 10px;
    color: #4161BF;
}

.sobre {
    margin: auto;
    background-color: rgb(255, 255, 255);
}

.img-sobre {
    margin-top: 10%;
    float: left;
}



.produtos {
    background-color: #4161BF;  
    padding: 1em;
}

.mapa{
    width: 89%;
    margin: auto;
    background-color: white;
}

.zoom {
    transition: transform, 1s;
}

.zoom:hover {
    transform: scale(1.06544154);
    transition: transform, 1s;
}
/* TELA DE CADASTRO */
.cadastro {
    background-color: #ffffff;
    margin: auto;
    width: 80%;
    height: 53em;
}
.form {
    width: 90%;
    margin: auto;
}
#msg {
    display: none;
}
.dev {
    float: left;
}
.red {
    float: right;
}


/* ACESSORIOS */
.produtos-capas {
    margin: auto;
    width: 80%;
    background-color: white;
    padding: 20px;
}
.produtos-peliculas {
    margin: auto;
    width: 80%;
    background-color: #4161BF;
    padding: 20px;
}
.cartao-azul {
    background-color: #4161BF;
    color: #ffffff;
}
.int-prod {
    margin: auto;
    background-color: rgb(255, 255, 255);
    width: 80%;
    height: 2em;
}
.int-pel {
    margin: auto;
    background-color: #4161BF;
    width: 80%;
    height: 2em;
}
.meufooter {
    margin: auto;
    width: 80%;
    background-color: #000000;
    height: 30vw;
    padding: 35px ;
}
h1 {
    font-size: 1.5em;
}
.butao {
    background-color: #4161BF;
}
@media (max-width: 768px) {
    .cadastro{
        width: 100%;
        height: 60em;
    }
    .produtos-capas {
        margin: auto;
        width: 100%;
        background-color: white;
        padding: 20px;
    }
    .produtos-peliculas {
        margin: auto;
        width: 100%;
        background-color: #4161BF;
        padding: 20px;
    }
    .cartao-azul {
        background-color: #4161BF;
        color: #ffffff;
    }
    .int-prod {
        margin: auto;
        background-color: rgb(255, 255, 255);
        width: 100%;
        height: 2em;
    }
    .int-pel {
        margin: auto;
        background-color: #4161BF;
        width: 100%;
        height: 2em;
    }
    .meufooter {
        margin: auto;
        width: 100%;
        background-color: #000000;
    }
    .meufooter {
        margin: auto;
        width: 100%;
        background-color: #000000;
        height: 110vw;
    }
}
@media (max-width:500px) {
    .meufooter {
        height: 130vw;
    }
}