*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(191, 191, 191);
}
.menu{
    width: 80%;
    margin: auto;
    background-color: #4161BF;
}
.carrossel{
    margin: auto;
    width: 80%;
    height: 80%;
}
.produtos{
    margin: auto;
    width: 80%;
}
@media (min-width: 768px) {
    .sobre {
        height: 30em;
        width: 80%;
    }

    .itens-header {
        margin-left: 37em;
    }   
    
    .cadastro {
        width: 80%;
    }
}
@media (max-width: 768px) {
    .menu {
        width: 100%;
    }
    .carrossel {
        width: 100%;
    }
    .produtos{
        width: 100%;
    }
    .img-sobre{
        width: 60%;
        margin: auto;
        margin-left: 30%;
    }
    .texto-sobre{
        width: 90%;
        height: 200px;
        padding: auto;
        margin: 0 35px 0px 0;
    }
    .sobre{
        width: 100%;
        margin: auto;
        height: 55em;
        padding: auto;
    }
    .mapa {
        width: 100%;
    }
}



.linhaComTexto {
    margin: auto;
    height: 20px;
    border-bottom: 1px solid #4161BF;
    text-align: center;
}
  
.linhaComTexto > span {
    font-size: 35px;
    background-color: #ffffff;
    padding: 0 10px;
    color: #4161BF;
}
.sobre {
    margin: auto;
    background-color: rgb(255, 255, 255);
}
.img-sobre {
    margin-top: 10%;
    float: left;
}
.texto-sobre{
    float: right;
    margin-top: 10%;
}
.produtos {
    background-color: #4161BF;  
    padding: 1em;
}
.mapa{
    width: 89%;
    margin: auto;
    background-color: white;
}
/* TELA DE CADASTRO */
.cadastro {
    background-color: #ffffff;
    margin: auto;
    width: 80%;
    height: 53em;
}
.form {
    width: 90%;
    margin: auto;
}
#msg {
    display: none;
}
@media (max-width: 768px) {
    .cadastro{
        width: 100%;
        height: 60em;
    }
}
