html, body {
    height: 100%;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
}

body {
    background-image: linear-gradient(#03A6A6, #F2AB27 );
}

main {
    max-width: 500px;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
}

section {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
h1 {
    text-align: center
}