h1 {
    text-align: center;
    color: bisque;
    background-color: dodgerblue;
    width: 80%;
    margin: 15px auto;
    margin-bottom: 4px;
    padding: 0.2em;
    font-size: 1.5em;
    border-radius: 10px;
}