#conteudo {
    margin-top: 2%;
    padding: 2%;
    background-color: rgba(255, 255, 255, 0.7);
    width: 50%;
    margin-left: 10%;
}
h1 {
    font-family: Arial Black;
    margin-bottom: 2%;
    text-transform: uppercase;
    font-weight: bold;
}
#value {
    margin-top: 10%;
    font-family: "arial black";
    font-size: 2.5em;
}
#imagem img{
    position: fixed;
    right: -100px;
    height: 60%;
    bottom: 0;
}
body {
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/*#foto {
    width: 50%;
    position: fixed;
    margin-left: 53%;
    margin-top: 20%;
}